#hexfield {
    position: relative;
     margin: 50px auto;
    color:red;
    width: 80%;
    padding: 0; /* Clears unordered list default */
 }
 
 .clear:after {
    content: “”;
    display: block;
    clear: both;
 }

#hexfield .line-1 { width: 70px;}
#hexfield .line-2 { width: 140px;}
#hexfield .line-3 { width: 210px;}
#hexfield .line-4 { width: 280px;}
#hexfield .line-5 { width: 350px;}
#hexfield .line-6 { width: 420px;}
#hexfield .line-7 { width: 490px;}
#hexfield .line-8 { width: 560px;}
#hexfield .line-9 { width: 630px;}

#hexfield .line {
    position: relative;
    margin:0 auto;
    height: 60px;
    overflow:visible;
}

 #hexfield li {
    list-style-type: none;
    position: relative;
    float: left;
    width: 70px;
    margin-top:-20px;
    padding: 0 0 80px 0;
    -o-transform: rotate(-60deg) skewY(30deg);
    -moz-transform: rotate(-60deg) skewY(30deg);
    -webkit-transform: rotate(-60deg) skewY(30deg);
    -ms-transform: rotate(-60deg) skewY(30deg);
    transform: rotate(-60deg) skewY(30deg);
    overflow: hidden;
    visibility: hidden;
 }

 #hexfield li * {
    visibility: visible;
 }
 

 #hexfield li .hexagon {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background: #FADF7F;
    -o-transform: skewY(-30deg) rotate(60deg);
    -moz-transform: skewY(-30deg) rotate(60deg);
    -webkit-transform: skewY(-30deg) rotate(60deg);
    -ms-transform: skewY(-30deg) rotate(60deg);
    transform: skewY(-30deg) rotate(60deg);
    overflow: hidden;


    -webkit-box-shadow: inset 10px 10px 86px -17px rgba(0,0,0,0.75);
-moz-box-shadow: inset 10px 10px 86px -17px rgba(0,0,0,0.75);
box-shadow: inset 10px 10px 86px -17px rgba(0,0,0,0.75);
 
 }

#hexfield li .hexagon.occupied {
   background: #b72826;
}
#hexfield li .hexagon.phantom-occupied {
   background: #F2E29F;
}

 #hexfield .breaker {
     clear:both;
 }

 #hexfield li .hexagon:hover{
    background:#b72826;
 }

 #bee_counter {
    position: relative;
    margin:10px auto;
    text-align: center;
    display: none;
 }